@keyframes fade-in-backdrop {
    from { opacity: 0; }
    to { opacity: 1; }
}

:root[aria-busy="true"]::before {
	content: "Loading...";
    position: fixed;
    
    inset: 0;
    width: max-content;
    height: max-content;
    margin: auto;
    
    z-index: 10000;
    
    color: white;
    display: inline-block;
    border: solid 3px;
    padding: .5em;
    font-weight: bold;
    background: #873f876e;
    backdrop-filter: blur(1px);

    /* Délai de 300ms pour éviter le flash */
    animation: fade-in-backdrop 0.4s ease-out 300ms both;
}


/* 1. Ralentissement global pour le debug */
::view-transition-group(*),
::view-transition-old(*),
::view-transition-new(*) {
	animation-duration: 0.5s !important;
}

/* 2. Styles par défaut pour TOUTES les transitions (y compris root) */
::view-transition-group(*) {
	background-color: green;
}

::view-transition-old(*) {
	filter: sepia(1) hue-rotate(-50deg) saturate(5);
	opacity: 0.5;
	outline: 5px solid red;
}

::view-transition-new(*) {
	animation: slide-in-up 0.3s ease;
}

@keyframes slide-in-up {
	from { transform: translateY(20px); opacity: 0; }
	to { transform: translateY(0); opacity: 1; }
}

/* 3. SURCHARGE (Reset) pour les racines uniquement */
/* Le nom spécifique l'emporte sur l'astérisque */

::view-transition-group(root), 
::view-transition-group(aria-ml-root) {
	background-color: transparent;
}

::view-transition-old(root), 
::view-transition-old(aria-ml-root) {
	filter: none;
	opacity: 1;
	outline: none;
}

::view-transition-new(root), 
::view-transition-new(aria-ml-root) {
	animation: none; /* Ou l'animation par défaut du navigateur */
}

